<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Create Poll </title>
</head>
<body>
    
    <a href="../"> Home </a>
    <h1> create new Poll </h1>
    <form method="POST" >
        <p>
            <label for="title"> title  </label>
            <input type="text" name="title" id="title"  >
           
        </p>

        <p>
            <label for="option1"> option1  </label>
            <input type="text" name="option" id="option1"  >
            
        </p>
        <p>
            
            <label for="option2"> option2  </label><input type="text" name="option" id="option2"  >
        </p>
        <p>
           
            <label for="option3"> option3  </label>
            <input type="text" name="option" id="option3"  >
        </p>
        <p>
           
            <label for="option4"> option4  </label>
            <input type="text" name="option" id="option4"  >
        </p> 
        <input type="submit" >
    </form>


</body>
</html>